/* src/components/BookCover.css */
.book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8c6d8; /* light pink background */
  cursor: pointer;
  margin-right: 40%;
  width: 295%;
}

.cover-img {
  max-width: 300%;
  max-height: 300%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
